$font-family-header: "Shantell Sans", cursive;
$font-family-bread: "Roboto", sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 245, 242);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

header {
  h1 {
    color: black;
    position: absolute;
    padding: 10px;
  }
}

h1,
h2,
h3 {
  font-family: $font-family-header;
  text-align: center;
}

header {
  height: 500px;
  background-image: url("../assets/knitting-gaffe426a1_1920.jpg");
}
