$font-family-header: "Shantell Sans", cursive;
$font-family-bread: "Roboto", sans-serif;

$font-weight-thin: 100;
$font-weight-regular: 400;
$font-weight-bold: 700;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: $font-family-header;
}

p {
  font-family: $font-family-bread;
}
