$font-family-header: "Shantell Sans", cursive;
$font-family-bread: "Roboto", sans-serif;

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(246, 245, 242);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

header {
  h1 {
    color: black;
    position: absolute;
    padding: 10px;
  }
}

h1,
h2,
h3 {
  font-family: $font-family-header;
  text-align: center;
}

p {
  font-family: $font-family-bread;
  line-height: 1.7rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

iframe {
  width: 100%;
}

img {
  width: 100%;
}

@media (min-width: 700px) {
  body {
    max-width: 1000px;
    margin: auto;
  }

  .header_text {
    font-size: 4rem;
    padding-left: 50px;
  }

  iframe {
    width: 100%;
  }

  .jumper-knit,
  .sock-knit,
  .round-knit {
    display: flex;
    flex-direction: column;
  }

  .imgs,
  .knits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .imgs {
    padding-bottom: 100px;
  }

  .youtube-videos {
    gap: 50px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
